body {
  background: rgb(66, 139, 235);
  margin: 0;
}
.searchBar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background-color: azure;
  padding: 15px;
}
.searchBar__input {
  height: 5vh;
  width: 30vw;
  border-radius: 25px;
  border: 2px solid rgba(70, 70, 245, 0.616);
  padding: 0 10px;
  outline: none;
  font-size: 1.1em;
}

.searchBar__input::placeholder {
  color: red;
  font-size: 1.2em;
}
.searchBar__input_btn {
  cursor: pointer;
  width: 15vw;
}
.searchBar__input_btn:hover {
  width: 15.5vw;
}
.error {
  position: absolute;
  top: 0;
  color: red;
}
.table {
  margin: 10px auto;
  border-collapse: collapse;
  border: 1px solid grey;
  width: 98vw;
  table-layout: fixed;
}
th, td {
  border: 1px solid grey;
  width: 16%;
  padding: 5px;
  overflow-wrap: break-word;
  
}
th:first-child,
td:first-child {
  width: 4%;
  text-align: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 15px;
  border: 2px solid grey;
  margin: 10px;
}
.card__foto-container {
  width: 90%;
  margin: 10px auto;
}
.card__foto {
  width: 100%; 
  border-radius: 15px;
}
.card__word_en,
.card__word_ru {
  font-size: 2em;
  font-weight: 500;
}
.card__word_en {
  color: red;
}
.card__word_ru {
  color: green;
}