.table {
  margin: 10px auto;
  border-collapse: collapse;
  border: 1px solid grey;
  width: 98vw;
  table-layout: fixed;
}
th, td {
  border: 1px solid grey;
  width: 16%;
  padding: 5px;
  overflow-wrap: break-word;
  
}
th:first-child,
td:first-child {
  width: 4%;
}