.four {
  padding-top: 5vh;
  height: 80vh;
}
.four__title {
  font-weight: bold;
  text-align: center;
}
.four__title_h2 {
  font-size: 144px;
  line-height: 181px;
  color: #D9E8FF;
}
.four__title_h3 {
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}
.four__text {
  font-size: 24px;
  line-height: 154%;
  text-align: center;
  color: #080029;
}