body {
  background: rgb(66, 139, 235);
  margin: 0;
}

.error {
  position: absolute;
  top: 0;
  color: red;
}
.error_table {
  position: static;
  display: block;
  margin: 20px auto;
  font-size: 2em;
  max-width: 60vw;
  text-align: center;
}

