body {
  background: rgb(66, 139, 235);
  margin: 0;
}

.error {
  position: absolute;
  top: 0;
  color: red;
}
.error_table {
  position: static;
  display: block;
  margin: 20px auto;
  font-size: 2em;
  max-width: 60vw;
  text-align: center;
}

.page {
  position: absolute;
  left: 1vw;
  color: azure;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}
